* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bellota Text', cursive;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.897);
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.line {
    width: 500px;
    margin-top: 100px;
}

header h1 {
    margin: 100px 0 50px 0;
    text-align: center;
    font-size: 50px;
}

header p {
    font-size: 20px;
    margin-bottom: 0;
}

.pads {
    width: 100%;
    display: flex;
}

.pads > div {
    cursor: pointer;
    height: 100px;
    width: 100px;
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 16px;
}

.pad1 {
    background: #003f9e;
}

.pad1:hover {
    background: #012f74;
}

.pad2 {
    background: #0066ff;
}

.pad2:hover {
    background: #0259dd;
}

.pad3 {
    background: #3d8bff;
}

.pad3:hover {
    background: #3281f7;
}

.pad4 {
    background: #7fb2ff;
}

.pad4:hover {
    background: #60a0ff;
}

.pad5 {
    background: #007d81
}

.pad5:hover {
    background: #016366;
}

.pad6 {
    background: #00b5bb
}

.pad6:hover {
    background: #00999e;
}

.pad7 {
    background: #02f7ff;
}

.pad7:hover {
    background: #01e0e7;
}

.pad8 {
    background: #9ffcff;
}

.pad8:hover {
    background: #80f6fa;
}

.pad9 {
    background: #e07000;
}

.pad9:hover {
    background: #ca6500;
}

.pad10 {
    background: #ff8812;
}

.pad10:hover {
    background: #ec7e10;
}

.pad11 {
    background: #ffa44a;
}

.pad11:hover {
    background: #fc9b39;
}

.pad12 {
    background: #ffcfa0;
}

.pad12:hover {
    background: #ffc081;
}

@keyframes jump {
    0% {
        bottom: 0%;
        left: 20%;
    }

    50% {
        bottom: 50%;
        left: 50%;
    }

    100% {
        bottom: 0%;
        left: 80%;
    }
}

.visual > div {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    bottom: 0%;
    z-index: -1;
}